html {
  scroll-behavior: smooth;

}
body{
    color: #C5C6C7;
    background-color: #0B0c10;
	font-family: Calibri, monospace;
}
a:link{
    color: #d4a42e;
    font-size: 20px;
    text-decoration: none;
}
a:visited{
    color:#d4a42e;
}
a:hover{
    color: #ad831a;
    transition: 0.5s;
}
.box{
    margin-top: 15px;
}
h1{
	text-align: center;
	color: #C5C6C7;
	margin: 20px auto 20px auto;
	display: table;
	border-bottom: 2px solid #f57aeb;
	font-size: 50px;
}
h2{
    background-color: rgba(11, 12, 16, 0.7);
    font-weight: normal;
    color: #cedbf5;
    text-align: center;
    display: table;
    padding: 8px;
	padding-bottom: 5px;
	border-radius: 10px 10px 0 0;
    text-transform: uppercase;
    font-family: Calibri, monospace;
}
.column {
    border-top: 3px solid #d4a42e;
    float: left;
    background: #2c3545 ;

    padding: 10px;
    margin-left: 20px;
}

.left {
  width: 70%;
}

.right {
  width: 20%;
}
.mainRow:after {
  content: "";
  display: table;
  clear: both;
}
/* Nav Bar */
.hero{
	width: 100%;
}
.navbar{
    background-color: rgba(31, 40, 51, 0.3);
    text-align: center;
	padding: 10px 0 10px 0;
	width: 100%;
}
.navbar-item{
    margin-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Calibri, monospace;
}


/*list bar*/
.bar{
    display: table;
	width: 100%;
    background-color: #1F2833;
    text-align: center;
    text-decoration: none;
    position: sticky;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 0 5px 0;
    font-family: Calibri, monospace;
    border-radius: 2px;
}
.bar a{
    margin:10px;
	color: #d4a42e;
}

/*right column*/
.filter{
	background-color: rgba(11, 12, 16, 0.5);
    margin-top: -20px;
	padding: 10px;
    text-align: left;
	border-top: 2px solid #fa8cf1;
}

/* table */
table{
	background-color: rgba(11, 12, 16, 0.5);
	border-top: 2px solid #fa8cf1;
    margin-top: -20px;
    padding: 5px;
    width: 100%;
    text-align: left;

}

tr.titles{
	font-size: 17px;
	text-transform: uppercase;	
}

.entry a{
	font-size:15px;
	font-weight:lighter;
	text-transform: uppercase;
}

hr.entryline{
	border:none;
	border-top: 2px solid #3c4157;
}

.square{
	border-top: 3px solid #d4a42e;
    background: #1F2833 ;
    padding: 10px;
	width: 50%;
	margin: 20px auto 0 auto;	
}
/*forms*/
h3{
    background-color: rgba(31, 40, 51, 0.5);
    font-weight: normal;
    color: #cedbf5;
    text-align: center;
	margin:  30px auto 0 auto;
	font-size: 25px;
	width: 50%;
    padding: 10px;
	border-radius: 10px 10px 0 0;
    text-transform: uppercase;
    font-family: Calibri, monospace;
}

div#form{
	margin-top: 0px;
	text-align: center;
}

.formlabel{
	font-size: 22px;
	border-bottom: 2px solid #f57aeb;
}
.choice{
	text-align: center;
	width: 50%;
	margin: 0 auto 0 auto;
}
select{
	background-color: rgba(11, 12, 16, 0.40);
	font-size: 15px;
	color: #C5C6C7;
	padding: 5px 10px 5px 10px;
	margin-top: 10px;
	margin-bottom: 15px;
	border: 2px solid  rgba(11, 12, 16, 0.5);
	border-radius: 4px;
		width: 250px;
}
input{
	background-color: rgba(11, 12, 16, 0.40);
	font-size: 15px;
	color: #C5C6C7;
	padding: 5px 10px 5px 10px;
	margin-top: 10px;
	margin-bottom: 15px;
	border: 2px solid  rgba(11, 12, 16, 0.5);
	border-radius: 4px;
}
input:focus{
	border: 2px solid rgba(11, 12, 16, 0.3);
	outline: none;
}
input[type=text]{
	width: 250px;
}
input[type=number]{
	width: 250px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
/*scroll bar*/
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
 background-color: #1F2833;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #C5C6C7;
}
body::-webkit-scrollbar-thumb:hover{
	background-color: rgba(197, 198, 199, 0.5);
	transition: 1s;
}
 

footer a{
    color: #3c4157;
    margin-left: 20px;
    margin-top:60px;
    font-size: 10px;
}
footer{
    background-color:  rgba(11, 12, 16, 1);
    position: fixed;
    left: 0;
    width: 100%;
    bottom:0;
    display: table;
    padding: 5px;
    height: 10px;
    text-align: center;

}
footer a:hover{
    color: #222639;
    transition: 0.5s;
}